
@{
    ViewBag.Title = "Ajax_New";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2>New Teacher</h2>
    @{

    }
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" required="required" />

    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" required="required" />

    </div>
    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" required="required" />
    </div>
    <div>
        <label for="TeacherSalary">Salary:</label>
        <input type="number" step="0.01" id="TeacherSalary" name="TeacherSalary" required="required" />
    </div>
    @{
        //addTeacher() is a JS method defined in /Scripts/teachers.js
    }
    <button onclick="addTeacher();">Add Teacher</button>
    <div id="ErrorBox" style="display:none;"></div>
</div>

